<div class="grid-container">
  <h1 class="mat-h1"
      data-cy="list-header">Product List</h1>
  <mat-grid-list cols="2"
                 rowHeight="200px">
    <mat-grid-tile *ngFor="let card of cards | async"
                   [colspan]="card.cols"
                   [rowspan]="card.rows">
      <angular-business-product [card]="card"
                                data-cy="product-card">
        <content>
          <div data-cy="product-price">
            Only {{ card.item.price | number:'1.0-0' }} €
          </div>
          <div class="mat-caption">
            Also ${{ card.item.price | dollar | number:'1.0-0'}} or
            {{ card.item.price | dollar:'GBP' | async | number:'1.0-0'}} £
          </div>
          <section class="actions">
            <button (click)="buyProduct(card.item)"
                    mat-raised-button
                    color="primary">Buy</button>
          </section>
        </content>
        <footer>Stock: {{ card.item.stock }} units</footer>
      </angular-business-product>
    </mat-grid-tile>
  </mat-grid-list>
</div>
