<div class="grid-container">
  <h1 class="mat-h1"
      data-cy="list-header">Product List</h1>
  <mat-grid-list cols="2"
                 rowHeight="200px">
    <mat-grid-tile *ngFor="let card of cards | async"
                   [colspan]="card.cols"
                   [rowspan]="card.rows">
      <angular-business-product [card]="card"
                                data-cy="product-card">
        <content>
          <div [angularBusinessOutOfStock]="card.item.stock"
               data-cy="product-stock">
            Remains {{ card.item.stock }} <span>units</span>
          </div>
          <section class="actions">
            <button (click)="refillProduct(card.item)"
                    mat-raised-button
                    color="primary">Refill</button>
          </section>
        </content>
        <footer>Price: {{ card.item.price }} Euros</footer>
      </angular-business-product>
    </mat-grid-tile>
  </mat-grid-list>
</div>
