<form novalidate
      (ngSubmit)="addToCart()">
  <mat-card class="shoping-cart-card">
    <mat-card-header>
      <mat-card-title>Shoppping Cart Alfa</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input name="product"
                   placeholder="Product"
                   [(ngModel)]="item.product"
                   type="text"
                   readonly
                   matInput>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input name="quantity"
                   placeholder="Quantity"
                   [(ngModel)]="item.quantity"
                   type="number"
                   matInput>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button
              color="primary"
              type="submit">Add to cart</button>
    </mat-card-actions>
    <mat-card-footer>
      <table>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
        </tr>
        <tr *ngFor="let item of cart.items">
          <td>{{ item.product }}</td>
          <td>{{ item.quantity }}</td>
        </tr>
      </table>
      <dl>
        <dt><strong>Total Units</strong></dt>
        <dd>{{ totalUnits }}</dd>
      </dl>
    </mat-card-footer>
  </mat-card>
</form>
