<mat-card class="shoping-cart-card">
  <mat-card-header>
    <mat-card-title>Shoppping Cart Alfa</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form novalidate
          class="row"
          (ngSubmit)="addToCart()">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-select name="product"
                      placeholder="Product"
                      [(ngModel)]="item.product">
            <mat-option *ngFor="let product of products"
                        [value]="product">
              {{ product.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input name="quantity"
                 placeholder="Quantity"
                 [(ngModel)]="item.quantity"
                 type="number"
                 matInput>
        </mat-form-field>
      </div>
      <div class="col">
        <button mat-raised-button
                color="primary"
                type="submit">Add to cart</button>
      </div>
    </form>
    <angular-business-shopping-cart-items-list [shoppingCartItems]="shoppingCart.items"
                                               (remove)="removeFromCart($event)">
    </angular-business-shopping-cart-items-list>
  </mat-card-content>
  <mat-card-footer>
    <angular-business-shopping-cart-total-units [totalUnits]="totalUnits">
    </angular-business-shopping-cart-total-units>
    <mat-card-actions class="row">
      <button (click)="saveShoppingCart.next(shoppingCart)"
              mat-raised-button
              color="primary"
              type="button">Save</button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
